$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
$dark: #23272e;

body {
  background-color: $dark;
  color: $white;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 800px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 15px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.btn {
  width: 100px;
  height: 45px;
  margin: 5px 0px;
  background-image: linear-gradient(to right, $primary, $secondary);
  border-radius: 10px;
  border: none;
  transition: 0.5s;
  color: $white;
  &:hover:enabled {
    transform: scale(1.1);
    box-shadow: 0px 5px 10px 1px rgba(17, 153, 142, 0.2);
  }

  &:disabled {
    background-image: none;
    background-color: $gray;
  }
}

.success-word {
  color: $secondary;
  font-size: 150%;
}

.word-container {
  border: solid 1px #38ef7d;
  height: 400px;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  gap: 5px;
  border-radius: 5px;
  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(17, 153, 142, 0.2);
  }
}
